#MovieCard {
  width: 100%;
  height: fit-content;
  border-color: gray;
  border-style: solid;
  border-width: 2px;
  margin: 10px;
}

#MovieCard h3 {
  margin: 0;
  text-align: left;
}

#MovieCard p {
  margin: 5px;
  text-align: left;
  background-color: lightpink;
  display: inline-block;
  color: red;
  border-radius: 10%;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border-color: red;
  border-style: solid;
  border-width: 2px;
}

#MovieDetails {
  margin-top: 10px;
  width: 800px;
  height: fit-content;
  border-color: gray;
  border-style: solid;
  border-width: 2px;
}

#MovieDetails .twoColumn{
  width: 50%;
  float: left;
  text-align: left;
}

#MovieDetails img {
  width: 90%;
}

#MovieDetails p, h3, h2 {
  margin: 0;
}

#MovieDetails .details {
  font-size: 17px;
  margin: 10px;
  text-align: left;
  background-color: lightgrey;
  display: inline-block;
  color: black;
  border-radius: 20%;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

#output {
  height: 50vh;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
}